.header-con{

    width: 100%;
    background-color: var(--header-color);
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    color: white;

    .logo{
        margin-right: 20px;
        font-size: 1.5rem;
        font-weight: 600;

        img{
            height: 50px;
        }
    }
}